.close {
  cursor: pointer;
  position: absolute;
  line-height: 25px;
  left: 5px;
  top: 5px;
  font-size: 24px;
  background: #d9d9d9;
  border: unset;
  border-radius: 50%;
  z-index: 10;
}

.logo {
  position: relative;
  left: -10px;
}

.bgImage {
  height: 100%;
  width: 100%;
  background-blend-mode: overlay;
  border-radius: 15px;
}

.popupConttainer {
  position: absolute;
  padding: 15px;
  width: 100%;
  height: 100%;

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    justify-self: center;

    .locationContainer {
      display: flex;
      justify-content: space-evenly;
      a {
        padding-left: 10px;
      }

      p {
        font-size: 11px;
        font-weight: bold;
        margin: 0;
        text-align: justify;
        text-justify: inter-word;
        width: 100%;
      }
    }
  }
  .description {
    margin-top: 30px;
    > p {
      display: flex;
      align-items: center;
      font-size: 15px;
      text-indent: 10px;
      text-align: justify;
      text-justify: inter-word;
      font-weight: bolder;

      > div {
        margin-left: 10px;
        width: 5px;
        height: 5px;
        background: #000;
      }
    }
  }
  .imgAndDate {
    .dates {
      margin-top: 50px;
      .icon {
        padding-top: 20px;
        display: flex;
        text-align: center;
        > img {
          margin-right: 20px;
        }
      }
    }
    .noTrip {
      margin-top: 50px;
      color: red;
    }
  }
}

.tripContainer {
  width: 350px;
  height: 568px;
  border: solid 1px rgb(131, 131, 131);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: rgba(93, 93, 93, 0.037);

  .tripHeader {
    .mainPic {
      width: 100%;
      height: 200px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      background-size: cover !important;
      background-position: center !important;
      background-repeat: no-repeat !important;
    }

    .tripBar {
      position: relative;
      bottom: 6px;
      background-color: #7aa9b8;
      width: 100%;
      height: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .age,
      .level,
      .price {
        padding-top: 5px;
        width: 27%;
        height: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        .title {
          width: 100px;
          text-align: center;
          font-size: 15px;
          font-weight: bolder;
          font-family: "Roboto", sans-serif;
          grid-column-start: 2;
          grid-column-end: 1;
        }
        .icon {
          align-self: center;
          justify-self: flex-start;
          grid-column-start: 2;
          grid-column-end: 2;

          img {
            width: 24px;
            height: 24px;
            position: relative;
          }
        }
        .info {
          align-self: center;
          justify-self: center;
          font-size: 15px;
          font-weight: bolder;
          grid-column-start: 1;
          grid-column-end: 1;
        }
      }
    }
  }
  .tripBody {
    height: 100%;
    display: flex;
    flex-direction: column;
    h3 {
      font-size: 20px;
      font-weight: bolder;
      font-family: "Roboto", sans-serif;
      margin-top: 10px;
      align-self: center;
    }
    p {
      padding-right: 15px;
      font-size: 20px;
    }
  }
  .tripDateButton {
    align-self: center;
    justify-self: flex-end;
    font-size: 20px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    background-color: #7aa9b8;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    text-align: center;
    width: 40%;
  }
}

@media screen and (min-width: 768px) {
  .popupConttainer {
    display: flex;
    flex-direction: column;
    .header {
      margin-top: unset;
      .locationContainer {
        align-self: end;
      }
    }
    .description {
      margin-top: unset;
      width: 90%;
    }

    .imgAndDate {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;

      .popupImg {
        border-radius: 15px;
        height: auto;
        max-height: 300px;
        overflow: hidden;
      }

      .dates {
        margin-top: 20px;
        padding-left: 30px;
      }
    }
  }
}
