.slider {
  position: relative;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  .rightArrow {
    position: absolute;
    top: 50%;
    right: -70px;
    font-size: 2.5rem;
    color: #000;
    z-index: 0;
    cursor: pointer;
    user-select: none;
  }
  .leftArrow {
    position: absolute;
    top: 50%;
    left: -70px;
    font-size: 2.5rem;
    color: #000;
    z-index: 0;
    cursor: pointer;
    user-select: none;
  }
  .imageSlideContainer {
    width: 80%;
    .slide {
      opacity: 0;
      transition: 0s 1s ease;
      display: none;
    }

    .slideActive {
      opacity: 1;
      display: block;
      transition-duration: 1s;
      transform: scale(1.08);
    }
    .image {
      border-radius: 10px;
    }
  }
}

@media screen and (max-width: 290px) {
  .slider {
    // width: 100%;

    .leftArrow,
    .rightArrow {
      width: 30px;
    }
    .leftArrow {
      left: -50px;
    }
    .rightArrow {
      right: -50px;
    }
  }
}
@media screen and (min-width: 650px) {
  .slider {
    height: 60vh;
    width: 35vw;

    .leftArrow {
      left: -140px;
    }

    .rightArrow {
      right: -140px;
    }
    .imageSlideContainer {
      .slideActive {
        .image {
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}
