@import url("https://fonts.googleapis.com/css2?family=Katibeh&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Markazi+Text&display=swap");
.homeContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;

  p {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }

  .opening {
    .photo1 {
      border-radius: 15px;
      width: 45%;
    }
    .photo2 {
      border-radius: 15px;
      width: 100%;
      position: absolute;
      top: 250px;
    }

    .openingText {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 0 20px;
      > img {
        padding-top: 30px;
        padding-bottom: 30px;
        width: 150px;
        border-radius: 50%;
      }
      h2 {
        font-size: 35px;
        font-family: "Katibeh", cursive;
      }
      p {
        padding: 0 10px 0 0;
        font-size: 22px;
        font-family: "Markazi Text", serif;
      }
    }
  }

  .Info {
    margin-top: 50px;
    height: auto;
    background-image: url("../../public/infoBack.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    padding: 0 20px;
    h2 {
      font-family: "Markazi Text", serif;
    }
    p {
      font-size: 22px;
      font-family: "Markazi Text", serif;
    }
  }

  .gallery {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 50px;
    padding: 0 20px;
  }

  .trips {
    margin-top: 20vw;
    height: auto;
    display: flex;
    flex-direction: column;
    background-image: url("../../public/tripBack.png");
    background-size: contain;
    background-position: center;
    background-repeat: repeat-y;
    overflow: hidden;

    .tripsNorth,
    .tripsSouth {
      display: flex;
      flex-direction: column;
      align-items: center;
      > div {
        margin-bottom: 50px;
      }
    }
    h5 {
      padding: 20px 0 20px 0;
      align-self: center;
    }
  }

  .QandA {
    height: auto;
    padding: 0 20px;
    margin-bottom: 50px;
    h1 {
      padding-bottom: 30px;
    }
  }
}
@media screen and (max-width: 350px) {
  .homeContainer {
    .opening {
      .openingText {
        p {
          font-size: 18px;
        }
      }
    }

    .Info {
      > h2 {
        font-size: 20px;
      }
      > p {
        font-size: 18px;
      }
    }
    .gallery {
      width: 80%;
    }

    .trips,
    .QandA {
      padding: 0 20px;
    }
    .trips {
      font-family: "Markazi Text", serif;
      h1 {
        font-weight: bolder;
      }
    }
    .QandA {
      font-family: "Markazi Text", serif;
      h1 {
        font-size: 35px;
        font-weight: bolder;
      }
      h4 {
        font-size: 20px;
        font-family: "Markazi Text", serif;
        font-weight: bolder;
      }
      p {
        font-size: 15px;
        font-weight: lighter;
      }
    }
  }
}

@media screen and (max-width: 290px) {
  .homeContainer {
    .opening {
      .openingText {
        p {
          font-size: 18px;
        }
      }
    }

    .Info {
      > h2 {
        font-size: 20px;
      }
      > p {
        font-size: 18px;
      }
    }

    .trips,
    .QandA {
      padding: 0 20px;
    }
    .trips {
      font-family: "Markazi Text", serif;
      h1 {
        font-weight: bolder;
      }
    }
    .QandA {
      font-family: "Markazi Text", serif;
      h1 {
        font-size: 35px;
        font-weight: bolder;
      }
      h4 {
        font-size: 20px;
        font-family: "Markazi Text", serif;
        font-weight: bolder;
      }
      p {
        font-size: 15px;
        font-weight: lighter;
      }
    }
  }
}

@media screen and (min-width: 915px) {
  .homeContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Markazi Text", serif;
    font-size: 24px;

    .opening {
      width: 100%;
      display: flex;

      .photo1 {
        border-radius: 15px;
        width: 45%;
        height: 100%;
        position: relative;
        top: 110px;
        right: 90px;
      }
      .photo2 {
        position: relative;
        right: 20px;
        top: 130px;
      }

      .openingText {
        border: 1px solid #000;
        background-color: rgba(255, 255, 255, 0.7);
        padding: 0px 30px 0 30px;
        border-radius: 13px;
        width: 35vw;
        height: auto;
        position: absolute;
        right: 600px;
        top: 300px;

        p {
          font-size: 22px;
        }
      }
    }

    .Info {
      margin-top: 100px;
      width: 68vw;

      background-image: url("../../public/infoBack.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      position: relative;
    }

    .gallery {
      margin-top: 100px;
      height: 60%;
      width: 50%;
    }

    .trips,
    .QandA {
      margin-top: 150px;
      width: 90%;
      display: flex;
      flex-direction: column;
      h1 {
        align-self: center;
      }
    }
    .trips {
      .tripsNorth,
      .tripsSouth {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        > div {
          margin-left: 60px;
          margin-bottom: 40px;
        }
      }
    }
    .QandA {
      h4 {
        margin: unset;
        margin-top: 50px;
      }
      p {
        margin: unset;
        margin-top: 15px;
        font-weight: lighter;
      }
    }
  }
}
