.navbarContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  height: auto;
  position: absolute;
  top: 0px;
  height: 80px;
  width: 75%;

  a {
    margin: 0px 10px 0px 10px;
    font-size: 25px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
  }
}
